{% extends 'base.html.twig' %}

{% block title %}Plantes{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/plantes.css') }}" />{% endblock %}
{% block body %}
    
    <div class="container-fluid" id="plantes">
        <div class="listPlantes">
        <!-- list-group -->
            <div class="list-group" id="myList" role="tablist">
                {% for plante in plantes %}
                    {# <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="{{ path('plante_show', {'id': plante.id}) }}"> #}
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#{{plante.nom}}">   
                        {{ plante.nom }}
                    </a>
                {% else %}
                    <p>no records found</p>
                {% endfor %}
            </div>
            <div class="container-fluid mt-5">
                <a class="btn btn-outline-primary" href="{{ path('plante_new') }}">Ajouter une plante</a>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content descPlantes">
            {% for plante in plantes %}
                <div class="tab-pane" id="{{plante.nom}}" role="tabpanel">
                    {{ include('plante/show.html.twig') }}
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>
    
{% endblock %}
