{% extends 'base.html.twig' %}

{% block title %}Plantes{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/plantes.css') }}" />{% endblock %}
{% block body %}
    
    <div class="container-fluid" id="plantes">
        <div class="listPlantes">
            <ul>
                {% for plante in plantes %}
                {#  {% set entryInfo = {
                        id: plante.id,
                        nom: plante.nom,
                        sensible:plante.sensible
                    } %} #}
                    <li {# data-plante={{entryInfo|json_encode|raw}} #}>
                        <a class="card-link" href="{{ path('plante_show', {'id': plante.id}) }}">{{ plante.nom }}</a>
                    </li>
                {% else %}
                <li value="0">no records found</li>
                {% endfor %}
            </ul>
        </div>
        {% block descPlantes %}{% endblock %}
        
    </div>
    <a class="btn btn-primary" href="{{ path('plante_new') }}">Ajouter une plante</a>
{% endblock %}
