{% extends 'base.html.twig' %}

{% block title %} {{ plante.nom }} {% endblock %}

{% block body %}
    <h1> {{ plante.nom }} </h1>
    <div class="card mt-5 container">
        <div class="card-body">
            <p>{{ plante.descriptif }}</p>

            <div class="card mb-2">
                <div class="card-header"><p class="card-subtitle">Maladies auxquelles cette plante peut-être affectée </p></div>
                <ul class="list-group list-group-flush">
                {% for maladie in plante.sensible %}
                    <a class="card-link list-group-item" href="{{ path('maladie_show', {'id': maladie.id}) }}"> {{ maladie.nom }} </a>
                {% else %}
                    Aucune
                {% endfor %}
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <p>Ravageurs susceptibles de nuire au bien être de cette plante</p>
                </div>
                <ul class="list-group list-group-flush">
                {% for ravageur in plante.sensible %}
                    <a class="card-link list-group-item" href="{{ path('ravageur_show', {'id':ravageur.id}) }}"> {{ ravageur.nom }} </a>
                {% else %}
                    Aucune
                {% endfor %}
                </ul>
            </div>

            <a class="btn btn-primary card-link" href="{{ path('plante_index') }}">Retour à la liste des plantes</a>
            <a class="btn btn-secondary card-link" href="{{ path('plante_edit', {'id': plante.id}) }}">Modifier</a>
            

        </div>
    </div>
    <div class="container">{{ include('plante/_delete_form.html.twig') }}</div>

{% endblock %}
