
    <div class="card">
        <div class="card-header">
            <h1 class="card-title"> {{ plante.nom }} </h1>
            
        </div>
        <div class="card-body">
            {% if plante.image %}
                <div class="img_plante">
                    <img class="img-fluid rounded img-responsive" src="{{ asset('uploads/plantes/' ~ plante.image) }}" alt="image de la plante">
                </div>
            {% endif %}
            <p>{{ plante.descriptif }}</p>

            {% set maladies,ravageurs = [],[] %}
            {% for bio in plante.sensible %}
                {% if bio.instanceofMaladie %}
                    {% set maladies = [bio] %}
                {% else %}
                    {% set ravageurs = [bio] %}
                {% endif %}
            {% endfor %}

            <div class="bio">
                <div class="card" id="card-maladie">
                    <div class="card-header"><p class="card-subtitle">Maladies</p></div>
                    <ul class="list-group list-group-flush">
                    {% for maladie in maladies %}
                        <a class="card-link list-group-item" href="{{ path('bioagresseur_show', {'id': maladie.id}) }}"> {{ maladie.nom }} </a>
                    {% else %}
                        <p>Aucune</p>
                    {% endfor %}
                    </ul>
                </div>

                <div class="card" id="card-ravageur">
                    <div class="card-header">
                        <p class="card-subtitle">Ravageurs</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    {% for ravageur in ravageurs %}
                        <a class="card-link list-group-item" href="{{ path('bioagresseur_show', {'id':ravageur.id}) }}"> {{ ravageur.nom }} </a>
                    {% else %}
                        <p>Aucune</p>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {# liens #}
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-outline-secondary card-link mt-2" href="{{ path('plante_edit', {'id': plante.id}) }}">Modifier la plante</a>
                <div class="container mt-2">
                    {{ include('plante/_delete_form.html.twig') }} 
                </div>
            {% endif %}
        </div>
        
    </div>
    
