{% extends 'base.html.twig' %}

{% block title %}Ravageur index{% endblock %}

{% block body %}
    <h1>Ravageur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Periodesrisques</th>
                <th>Symptomes</th>
                <th>Stadesensible</th>
                <th>Stadeactif</th>
                <th>Nbgenerations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ravageur in ravageurs %}
            <tr>
                <td>{{ ravageur.id }}</td>
                <td>{{ ravageur.nom }}</td>
                <td>{{ ravageur.type }}</td>
                <td>{{ ravageur.periodesrisques }}</td>
                <td>{{ ravageur.symptomes }}</td>
                <td>{{ ravageur.stadesensible }}</td>
                <td>{{ ravageur.stadeactif }}</td>
                <td>{{ ravageur.nbgenerations }}</td>
                <td>
                    <a href="{{ path('ravageur_show', {'id': ravageur.id}) }}">show</a>
                    <a href="{{ path('ravageur_edit', {'id': ravageur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ravageur_new') }}">Create new</a>
{% endblock %}
