{% extends 'base.html.twig' %}

{% block title %}Ravageur{% endblock %}

{% block body %}
    <h1>Ravageur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ravageur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ravageur.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ravageur.type }}</td>
            </tr>
            <tr>
                <th>Periodesrisques</th>
                <td>{{ ravageur.periodesrisques }}</td>
            </tr>
            <tr>
                <th>Symptomes</th>
                <td>{{ ravageur.symptomes }}</td>
            </tr>
            <tr>
                <th>Stadesensible</th>
                <td>{{ ravageur.stadesensible }}</td>
            </tr>
            <tr>
                <th>Stadeactif</th>
                <td>{{ ravageur.stadeactif }}</td>
            </tr>
            <tr>
                <th>Nbgenerations</th>
                <td>{{ ravageur.nbgenerations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ravageur_index') }}">back to list</a>

    <a href="{{ path('ravageur_edit', {'id': ravageur.id}) }}">edit</a>

    {{ include('ravageur/_delete_form.html.twig') }}
{% endblock %}
