{% extends 'base.html.twig' %}

{% block title %}Organe index{% endblock %}

{% block body %}
    <h1>Organe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organe in organes %}
            <tr>
                <td>{{ organe.id }}</td>
                <td>{{ organe.nom }}</td>
                <td>
                    <a href="{{ path('organe_show', {'id': organe.id}) }}">show</a>
                    <a href="{{ path('organe_edit', {'id': organe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('organe_new') }}">Create new</a>
{% endblock %}
