{% extends 'base.html.twig' %}

{% block title %}Organe{% endblock %}

{% block body %}
    <h1>Organe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organe.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('organe_index') }}">back to list</a>

    <a href="{{ path('organe_edit', {'id': organe.id}) }}">edit</a>

    {{ include('organe/_delete_form.html.twig') }}
{% endblock %}
