{% extends 'base.html.twig' %}

{% block title %}Bioagresseurs{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/bioagresseurs.css') }}" />{% endblock %}

{% block body %}
    <h1>Liste des bioagresseurs</h1>
    <div class="container bioagresseurs mt-2">
        <div class="maladies">
            <h2>Maladies</h2>
            <ul class="list-group">
                {% for maladie in maladies %}
                    <a class="list-group-item list-group-item-action col-md-8" href="{{ path('bioagresseur_show', {'id': maladie.id}) }}">   
                        {{ maladie.nom }}
                    </a>
                {% else %}
                    <li class="list-group-item list-group-item-action">no records found</p>
                {% endfor %}
            </ul>
        </div>
        <div class="ravageurs">
            <h2>Ravageurs</h2>
            <ul class="list-group">
                {% for ravageur in ravageurs %}
                    <a class="list-group-item list-group-item-action col-md-8" href="{{ path('bioagresseur_show', {'id': ravageur.id}) }}">   
                        {{ ravageur.nom }}
                    </a>
                {% else %}
                    <li class="list-group-item list-group-item-action">no records found</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
